.granularity-dropdown .select-search-container {
  width: 100%;
  --select-search-background: #fff;
  --select-search-border: #dce0e8;
  --select-search-selected: #dce0e8;
  --select-search-text: #000;
  --select-search-subtle-text: #6c6f85;
  --select-search-highlight: #eff1f5;
}

.granularity-dropdown .select-search-container input {
  height: 40px;
}
