:host {
  --brand-100: #ffffff;
  --brand-1000: #303038;
  --brand-1100: #191922;
  --brand-1200: #000000;
  --brand-200: #f3f3f4;
  --brand-300: #e8e8e9;
  --brand-400: #d1d1d3;
  --brand-500: #bababd;
  --brand-600: #a3a3a7;
  --brand-700: #8c8c90;
  --brand-800: #75757a;
  --brand-900: #47474e;
  --category-1: #3350f7;
  --category-2: #fc7e5c;
  --category-3: #6e79fb;
  --category-4: #9999c8;
  --category-5: #fb4e4d;
  --error-100: #ef4444;
  --neutral-100: #ffffff;
  --neutral-1000: #303038;
  --neutral-1100: #191922;
  --neutral-1200: #000000;
  --neutral-200: #f3f3f4;
  --neutral-300: #e8e8e9;
  --neutral-400: #d1d1d3;
  --neutral-500: #bababd;
  --neutral-600: #a3a3a7;
  --neutral-700: #8c8c90;
  --neutral-800: #75757a;
  --neutral-900: #47474e;
  --border-xsmall: 0.0625rem;
  --border-small: 0.125rem;
  --border-medium: 0.25rem;
  --radius-0: 0rem;
  --radius-025: 0.125rem;
  --radius-050: 0.25rem;
  --radius-075: 0.375rem;
  --radius-100: 0.5rem;
  --radius-150: 0.75rem;
  --radius-4500: 22.5rem;
  --space-0: 0rem;
  --space-025: 0.125rem;
  --space-050: 0.25rem;
  --space-075: 0.375rem;
  --space-100: 0.5rem;
  --space-150: 0.75rem;
  --space-200: 1rem;
  --space-300: 1.5rem;
  --space-400: 2rem;
  --space-500: 2.5rem;
  --space-600: 3rem;
  --space-800: 4rem;
  --space-1000: 5rem;
  --chart-color-1: #aa0000;
  --chart-color-2: #ff997c;
  --chart-color-3: #9ea4f4;
  --chart-color-4: #b8b8d1;
  --chart-color-5: #ff6b6c;
  --chart-color-6: #ffc145;
}
