/* Custom-canvas 'end-user self-serve' classes */

/* Button Styles */

/* icon button */
.button-icon {
}

/* icon button on hover */
.button-icon:hover {
}

/* icon button on press */
.button-icon:active {
}

/* button */
.button {
}

/* button container where the text is */
.button > div {
}

/* button container where the icon is */
.button > span {
}

/* button variant primary */
.button.primary {
}

/* button variant primary on hover */
.button.primary:hover {
}

/* button variant primary on press */
.button.primary:active {
}

/* button variant secondary */
.button.secondary {
}

/* button variant secondary on hover */
.button.secondary:hover {
}

/* button variant secondary on press */
.button.secondary:active {
}

/* button when disabled */
.button:disabled {
}

/* Self-Serve Feature */

/* container where the self-serve feature will appear */
.self-serve {
}

/* container that includes the buttons ‘Add Chart’, ‘Edit Dashboard’ and ‘Done’ */
.self-serve-controls {
  /*  position: sticky;
  top: 80px;
  z-index: 10;*/
}

/* container where the self-serve components are listed */
.self-serve-widgets {
}

/* on edit mode, this container appears after the last self-serve chart, where the user can click to add a new chart (via the modal) */
.self-serve-add-chart {
}

/* on edit mode, this container appears after the last self-serve chart, where the user can click to add a new chart (via the modal) on hover */
.self-serve-add-chart:hover {
}

/* Draggable Controls and Containers */

/* control container to remove the chart from self-serve (has the trash icon inside) */
.draggable-controls {
}

/* control container to remove the chart from self-serve (has the trash icon inside), icon container */
.draggable-controls > button > span {
}

/* container where the chart will be rendered inside (controls + chart) */
.draggable {
}

/* container where the chart will be rendered */
.draggable-item {
}

/* Edit Mode - Sorting */

/* draggable container on hover */
.draggable.sortable:hover {
}

/* draggable container when selected to drag */
.draggable.sortable.sortable-chosen {
}

/* chart container */
.draggable.sortable .draggable-item {
}

/* display of controls when container is hovered */
.draggable.sortable:hover .draggable-controls {
}

/* chart container when draggable is hovered */
.draggable.sortable:hover .draggable-item {
}

/* ghost of the dragging element */
.draggable.sortable.sortable-chosen.sortable-ghost .draggable-item {
}

/* content of the chart container when being dragged */
.draggable.sortable.sortable-chosen.sortable-ghost .draggable-item * {
}

/* chart container when draggable is being dragged */
.draggable.sortable.sortable-drag .draggable-item {
}

/* avoid showing the control container when there is a dragging going on */
.self-serve-widgets:has(.sortable-drag) .draggable.sortable .draggable-controls,
.self-serve-widgets:has(.sortable-ghost) .draggable.sortable .draggable-controls {
}

/* Modal Related */

/* modal overlay */
.overlay {
}

/* modal container */
.modal-window {
  max-width: 1200px;
}

/* modal header container */
.modal-window__header {
}

/* modal header container title */
.modal-window__header h2 {
}

/* modal header container close button */
.modal-window__header .close {
}

/* modal body container */
.modal-window__body {
}

/* modal footer container */
.modal-window__footer {
}

/* container where the available self-serve charts are inside the modal */
.self-serve-modal-widgets {
}

/* widget container inside the modal */
.self-serve-modal-widgets-item {
}

/* widget container inside the modal on hover */
.self-serve-modal-widgets-item:hover {
}

/* widget container inside the modal when selected */
.self-serve-modal-widgets-item.selected {
}

/* container inside the widget container inside the modal */
.self-serve-modal-widgets-item-container {
}

/* Media Queries */

/* change the number of widget columns if container width is inferior to 914px */
@container (max-width: 914px) {
  .self-serve-widgets {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

/* change the number of the widget columns in the modal if window width is inferior to 795px */
@media (max-width: 795px) {
  .self-serve-modal-widgets {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

/* change the number of widget columns if container width is inferior to 606px */
@container (max-width: 606px) {
  .self-serve-widgets {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

/*
:host {
  --brand-100: #ffffff;
  --brand-1000: #303038;
  --brand-1100: #191922;
  --brand-1200: #000000;
  --brand-200: #f3f3f4;
  --brand-300: #e8e8e9;
  --brand-400: #d1d1d3;
  --brand-500: #bababd;
  --brand-600: #a3a3a7;
  --brand-700: #8c8c90;
  --brand-800: #75757a;
  --brand-900: #47474e;
  --category-1: #3350f7;
  --category-2: #fc7e5c;
  --category-3: #6e79fb;
  --category-4: #9999c8;
  --category-5: #fb4e4d;
  --error-100: #ef4444;
  --neutral-100: #ffffff;
  --neutral-1000: #303038;
  --neutral-1100: #191922;
  --neutral-1200: #000000;
  --neutral-200: #f3f3f4;
  --neutral-300: #e8e8e9;
  --neutral-400: #d1d1d3;
  --neutral-500: #bababd;
  --neutral-600: #a3a3a7;
  --neutral-700: #8c8c90;
  --neutral-800: #75757a;
  --neutral-900: #47474e;
  --border-xsmall: 0.0625rem;
  --border-small: 0.125rem;
  --border-medium: 0.25rem;
  --radius-0: 0rem;
  --radius-025: 0.125rem;
  --radius-050: 0.25rem;
  --radius-075: 0.375rem;
  --radius-100: 0.5rem;
  --radius-150: 0.75rem;
  --radius-4500: 22.5rem;
  --space-0: 0rem;
  --space-025: 0.125rem;
  --space-050: 0.25rem;
  --space-075: 0.375rem;
  --space-100: 0.5rem;
  --space-150: 0.75rem;
  --space-200: 1rem;
  --space-300: 1.5rem;
  --space-400: 2rem;
  --space-500: 2.5rem;
  --space-600: 3rem;
  --space-800: 4rem;
  --space-1000: 5rem;
  --chart-color-1: #6778de;
  --chart-color-2: #ff997c;
  --chart-color-3: #9ea4f4;
  --chart-color-4: #b8b8d1;
  --chart-color-5: #ff6b6c;
  --chart-color-6: #ffc145;
}

:host([data-theme='celtics']) {
  --chart-color-1: #7ef2be;
  --chart-color-2: #2ce391;
  --chart-color-3: #00cc70;
  --chart-color-4: #009954;
  --chart-color-5: #008348;
  --chart-color-6: #006638;
  --chart-color-7: #004d2a;
  --chart-color-8: #00331c;
}
*/
